
<% @selected.uniq.each do |haircut| %>
<h4><%= haircut.customer.name %> has a cut with <%= haircut.barber.name %> <%= haircut.date.to_time.strftime("%A, %b %e, at %l:%M %p")  %></h4>

<% end %>  
    <div class = "fancy"> 
    <h3 class="customer">Search the schedule</h3>
    <%= form_tag("/filter", method: 'POST') do %>
    <nav>Seach the schedule <%= select_tag "customer", options_from_collection_for_select(Customer.all, "id", "name"), include_blank: true  %>
    <b>or select only your haircuts : <%= check_box_tag 'id', value=current_user.id %></b></nav>
    <%= submit_tag "Select" %> 

    <% end %> 
    <br> 
    </div>
        
        
        
        