
<div class='<%= "first" if flash[:error] %>' > 
<%= form_for @customer do |f| %> 
<%= f.label :name %>

<%= f.text_field :name %> 
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :phone_number, 'phone number' %>
<%= f.text_field :phone_number  %>
<br>
<%= f.label 'password' %>
<%= f.text_field :password %>
<br>
<%= f.label :password_confirmation %>
<%= f.text_field :password_confirmation %>
<br> 
<%= f.submit 'register' %>
<% end %> 
</div>