
<%= form_for(haircut, url: '/customers/customer_slug/haircuts/new' ) do |f| %> 

<%= f.label :style  %>
<%= f.text_field :style %>
<br> 
<%= f.label :date %> 
<br>

<%= datetime_select( 'datetime' ,:date, {:minute_step => 15} )  %>

<br> 
<div <%= 'class="fields_with_errors"' if !(@haircut.nil?) %>> 
<% @haircut.try(:errors).try(:messages).try(:each) do |k,v| %>
  <%= k %> 
  <%= v %> 
  <%end%> 
  </div>
<div <%= 'class="fields_with_errors"' if flash[:error] %>>
<%= flash[:error] if flash[:error] %>
<%= f.label :barber %>
</div>  
  
 <% if params.keys.include?("slug") %> 
 <% current_barber = params["slug"] %>
 <%= f.select :barber, current_barber => current_barber  %>
 <% else %>
<%= f.select :barber, options_for_select(Barber.all.map{ |x| x.name })%>
<% end %>
  <br>
  
  <% if haircut.customer_id.blank? %>
  <%= f.text_field :customer_id %> 
  <% else %>
  <%= f.hidden_field :customer_id  %>
  <% end %>
<%= f.submit %>
<% end %> 

