<% if session[:customer_id] %>
<nav><%= link_to 'home', root_path %> | <%= link_to 'schedule', haircuts_schedule_path %> | <%= link_to 'logout', logout_path%> | <%= link_to 'barbers', barbers_path %> | <%= link_to 'profile', customer_path(current_user) %> | <%= link_to 'schedule a haircut', new_haircut_path %></nav>
<% end %>