<h1>Hey <%= @customer.name %></h1> 
<% if session[:customer_id] %>
  <h1><%= @customer.name %></h1>
  <h2>Email: <%= @customer.email %></h2>
  <h2>Facebook UID: <%= @customer.uid %></h2>
 
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>