
<% if logged_in? %>
<h1 class='first'><%= session[:message] if session[:message] %></h1>
<div class='customer'>
<h1 class='red'><b>Hi <%= @customer.name %>!</b></h1> 
<ul><li><%= @customer.haircuts.count  %> cuts with us.</li>
<ol>
<% style_collection = @customer.haircuts.map{|cut| cut.style } %>
<% style_collection.uniq.each do |style| %>
<li><%= style %> style</li>
<% end %>
</ul> 

<% if @customer.haircuts.count == 0 %>
    <h1><%= @customer.name %> you have nothing scheduled! </h1><%= link_to 'go get a cut!', new_customer_haircut_path(@customer) %> 
<% else %>
<ul>
<% @customer.haircuts.each do |haircut| %> 
    <li><%= haircut.date.to_time.strftime("Haircut on %A, %b %e at %l %M %p") %></li> 
    <li><%= link_to "delete", haircut_path(haircut), method: 'delete' %></li> 
   <% end %> 
</ul>
<% end %>
    <p><%= link_to 'schedule a haircut', new_customer_haircut_path(@customer) %></p>
<% barber_count = @customer.barbers.uniq.count  %>
<li><%= barber_count %> Barbers cut your hair.<li/> 
<ol>
<%  @customer.barbers.all.uniq.each do |x| %>

<li><%= link_to x.name, barber_path(x) %></li> 
    <% end %> 
</ol>
</ul>
</div> 
<% else %> 
<div class='first'>
<h1> Please Login <h1>  
</div>
<% end %>


