
<% if logged_in? %>
<h1 class='first'><%= session[:message] if session[:message] %></h1>
<div class='customer'>
<h1 class='red'><b>Hi <%= @customer.name %>!</b></h1> 
<ul><li><%= @customer.haircuts.count  %> cuts with us.</li>
<ol>
<% style_collection = @customer.haircuts.map{|cut| cut.style } %>
<% style_collection.uniq.each do |style| %>
<li><%= style %> style</li>
<% end %>
</ul> 

<p><%= link_to 'schedule a haircut', new_customer_haircut_path(@customer) %></p>

<li><%= @customer.barbers.count %> Barbers cut your hair.<li/> 
<ol>
<%  @customer.barbers.all.uniq.each do |x| %>

<li><%= link_to x.name, barber_path(x) %></li> 
    <% end %> 
</ol>
</ul>
</div> 
<% else %> 
<div class='first'>
<h1> Please Login <h1>  
</div>
<% end %>


